@model App.Model.Core.Workflow
@{
    Layout = null;
}
<div class="fixed-action-btn">

    @if (Model.DefinicionWorkflow.PermitirGenerarDocumentos)
    {
        if (!Request.Url.ToString().Contains("Create"))
        {
            <a href='@Url.Action("Pdf", Model.Entity, new { id = Model.EntityId })' target="_blank" class="btn-floating modal-trigger btn-large blue tooltipped" data-position="left" data-tooltip="Ver documento pdf"><i class="large material-icons">picture_as_pdf</i></a>
        }
    }
    @if (Model.DefinicionWorkflow.PermitirAdjuntarDocumentos)
    {
        if (!Request.Url.ToString().Contains("Create"))
        {
            <a href="#modalCreate" class="btn-floating modal-trigger btn-large blue tooltipped" data-position="left" data-tooltip="Adjuntar archivo"><i class="large material-icons">attach_file</i></a>
        }
    }

    @if (Model.DefinicionWorkflow.PermitirAdjuntarDocumentosConFirmaElectronica)
    {
        if (!Request.Url.ToString().Contains("Create"))
        {
            <a href="#modalUpload" class="btn-floating modal-trigger btn-large blue tooltipped" data-position="left" data-tooltip="Adjuntar archivo"><i class="large material-icons">attach_file</i></a>
        }
    }

    @if (Model.DefinicionWorkflow.PermitirReenvioUnidad || Model.DefinicionWorkflow.PermitirReenvioGrupoEspecial)
    {
        <a href='@Url.Action("Forward","Workflow", new { id = Model.WorkflowId })' class="btn-floating modal-trigger btn-large blue tooltipped" data-position="left" data-tooltip="Reasignar tarea"><i class="large material-icons">reply</i></a>
    }

    @if (Model.DefinicionWorkflow.PermitirTerminar)
    {
        if (!Request.Url.ToString().Contains("Create"))
        {
            <a href='@Url.Action("Send", "Workflow", new { id = Model.WorkflowId })' class="btn-floating modal-trigger btn-large green tooltipped" data-position="left" data-tooltip="Enviar tarea"><i class="large material-icons">play_arrow</i></a>
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });

    @*document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems, options);
    });*@
</script>