html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#container {
    padding-left: 300px;
}

#content {
    padding: 20px;
}

@media only screen and (max-width : 992px) {
    #container {
        padding-left: 0px;
    }
}

strong {
    font-weight: 600;
}


.subcontent{
    position: absolute;
    top: 16px;
    right: 50px;
}