

@if (!string.IsNullOrWhiteSpace(@ViewBag.Title) || !string.IsNullOrWhiteSpace(@ViewBag.SubTitle))
{
    <div class="grey lighten-3">
        <div class="section container ">
            <h3 class="header">@ViewBag.Title</h3>
            <h5 class="header light">@ViewBag.SubTitle</h5>
            <br />
        </div>
    </div>
    <br />
}
