

@if (!string.IsNullOrWhiteSpace(@ViewBag.Title) || !string.IsNullOrWhiteSpace(@ViewBag.SubTitle))
{
    <div class="grey lighten-3 section">
        <div class="section container ">
            <h3 class="header">@ViewBag.Title</h3>
            <h5 class="header light">@ViewBag.SubTitle</h5>
            <div class="section"></div>
        </div>
    </div>
    <div class="section"></div>
}