<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de procesos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>

    <style>
        nav {
            box-shadow: none;
        }

        .nav-wrapper > ul {
            margin-left: 140px;
        }
        /*Estilo para boton ir arriba*/
        #myBtn {
            display: none;
            position: fixed;
            bottom: 75px;
            right: 10px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            /*            background-color: green;*/
            /*            color: white;*/
            cursor: pointer;
            /*padding: 15px;*/
            border-radius: 4px;
        }

            #myBtn:hover {
                /*                background-color: #007bff;*/
            }
    </style>



    <div class="navbar-fixed valign-wrapper">
        <nav class="white ">
            <div class="nav-wrapper container">
                <a href="/" class="left brand-logo black-text hide-on-med-and-down"><img class="responsive-img" src="~/Content/logo.png"></a>

                <ul>
                    <li><a href="/" class="left brand-logo black-text tooltipped" data-tooltip="Ir al inicio" data-position="right"><i class="material-icons left black-text">home</i>Inicio</a></li>
                </ul>
                <ul class="right">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a class="black-text hide-on-small-and-down"><i class="material-icons left black-text">person_pin</i>@User.Identity.Name</a></li>
                        <li><a href="@Url.Action("Logoff", "Account")" class="waves-effect waves-light blue-text tooltipped" data-tooltip="Cerrar sesión y salir del sistema" data-position="right">Cerrar Sesion</a> </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()

    <a id="myBtn" onclick="topFunction()" data-tooltip="Ir arriba"><i class="large material-icons">arrow_circle_up</i></a>
    @*<img id="myBtn" onclick="topFunction()" title="Go Up" class="btn-floating modal-trigger btn-large green tooltipped"/>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
            $('.tooltipped').tooltip();
        });

        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', true);
            });
        });

        /*Boton Ir arriba*/
        var mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
</body>
</html>