@model HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}
<div class="text-danger">
    <h2>Página no encontrada!</h2>
    La página que busca no existe. Por favor contacte al administrador de sistema
</div>