<h1 class="display-4 my-3 text-danger">Página no encontrada</h1>
<p class="lead">No se encontró la página @ViewBag.RequestedUrl</p>
<hr />
<a href="javascript:void(0);" onclick="history.go(-1);">Volver a página anterior</a> | <a href='@Url.Action("Index", "Home")'>Ir al inicio</a>
@(new string(' ', 512))