
<div class="red lighten-1">
    <div class="section container ">
        <h3 class="header white-text">Error</h3>
        <h5 class="header light white-text">Página no encontrada</h5>
        <br />
    </div>
</div>

<div class="container">
    <div class="section"></div>
    <h5 class="header light red-text">No se encontró la página @ViewBag.RequestedUrl</h5>
    <div class="section"></div>
    @Html.ActionLink("Volver al inicio", "Index","Home", null, new { @class = "waves-effect waves-light btn blue " })


    @(new string(' ', 512))
</div>