@model

@


<div class="row">
    <div class="col s12 m6 l3">
        @
        @
    </div>

    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Contrato</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">I. Identificación responsable de la solicitud</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">II. Persona propuesta</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">III. Condiciones propuestas</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <label>
                            @
                            <span>@</span>
                        </label>
                        <div class="section"></div>
                    </div>
                    <div class="input-field col s12 m10">
                        <label>
                            @
                            <span>@</span>
                        </label>
                        <div class="section"></div>
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10 l10">
                        <label>
                            @
                            <span>@</span>
                        </label>
                        <div class="section"></div>
                    </div>
                    <div class="input-field col s12 m10 l10">
                        <label>
                            @
                            <span>@</span>
                        </label>
                        <div class="section"></div>
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">IV. Señalar si presta servicios en otra repartición pública</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">V. Breve justificación de la contratación</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">VI. Funciones a realizar (en caso de honorarios, cuando la contratación sea para asesoría o estudio especifico, se deben señalar los productos identificables para los informes mensuales)</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">VII. Documentos obligatorios a adjuntar</span>

                @
                <div class="file-field input-field">
                    <div class="btn grey">
                        <i class="material-icons">attach_file</i>
                        @
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Buscar archivo...">
                    </div>
                    @
                </div>

                @
                <div class="file-field input-field">
                    <div class="btn grey">
                        <i class="material-icons">attach_file</i>
                        @
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    @
                </div>

                @
                <div class="file-field input-field">
                    <div class="btn grey">
                        <i class="material-icons">attach_file</i>
                        @
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    @
                </div>

                @
                <div class="file-field input-field">
                    <div class="btn grey">
                        <i class="material-icons">attach_file</i>
                        @
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    @
                </div>

                @
                <div class="file-field input-field">
                    <div class="btn grey">
                        <i class="material-icons">attach_file</i>
                        @
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    @
                </div>

                @
                <div class="file-field input-field">
                    <div class="btn grey">
                        <i class="material-icons">attach_file</i>
                        @
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    @
                </div>
                <div class="section"></div>
                <span class="card-title">VIII. Area de finanzas</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
                <div class="section"></div>
                <span class="card-title">IX. Otras observaciones gestión y desarrollo de personas</span>
                <div class="row">
                    <div class="input-field col s12 m10">
                        <strong>@</strong><br />
                        @
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("Footer", "Workflow", new { Model.WorkflowId })