<div class="row">    
    <div class="col s12 m4 l4">
        <div class="card hoverable" style="height:340px">
            <div class="card-content">
                <span class="card-title">Administración</span>
            </div>
            <div class="card-action">
                <a href='@Url.Action("Index", "EmpresaAerolinea")' class="waves-effect waves-light blue-text">Empresa Aerolinea</a><br />
            </div>
        </div>
    </div>    
</div>