<div class="row">    
    <div class="col s12 m4 l4">
        <div class="card hoverable" style="height:340px">
            <div class="card-content">
                <span class="card-title">Configuracion Comisiones</span>
            </div>
            <div class="card-action">
                <a href='@Url.Action("Index", "ViaticoInternacional")' class="waves-effect waves-light blue-text">Viatico Internacional</a><br />
                <a href='@Url.Action("Index", "ParrafoComisiones")' class="waves-effect waves-light blue-text">Parrafo Comisiones</a><br />
                <a href='@Url.Action("Index", "ParametrosComisiones")' class="waves-effect waves-light blue-text">Parametros Comisiones</a><br />
            </div>
        </div>
    </div>    
</div>